<div class="pesquisa">

  <ul>

    <li><a href="">Cardápio</a></li>
    <li><a href="">Fazer Pedido</a></li>

    <div class="barra" >

      <input type="text" value="Faça seu pedido" class="barra2">


    </div>

    <input type="button" value="Buscar" onclick="Enviar()" class="botao">

    <div>
      <select class="caixinha">
        <option value="0">☰</option>
        <option value="1">Cardápio</option>
        <option value="2">Fazer Pedido</option>
      </select>
    </div>


  </ul>



</div>
